@model IEnumerable<CarServiceModel>


@{
    ViewData["Title"] = "My Cars";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />



@if (!Model.Any())
{
      <h2 class="text-center">There is no cars yet!</h2>    
}

<div class="row">
    @foreach (var car in Model)
    {
        <partial name="_CarPartial" model="@car" />
    }
</div>